:root {
  --footer-height: 24rem;
}

.footer {
  width: 100%;
  background-color: #333;
  height: var(--footer-height);
  padding: 4rem;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  display: block;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 3rem;
  display: block;
}

.placeholder {
  height: var(--footer-height);
}
